input[type="text"]{
    background-color: #F0F0F0;
    width: 50px;
    height: 20px;
    border: 1px solid #cccccc;
}
span{
    margin: auto 6px;
    font-size: 14px;
    font-weight: 700;
    color: #008000;
}